Faker==0.0.4
Flask==0.10.1
Flask-Admin==1.0.9
Flask-Alembic==1.0.2
Flask-DebugToolbar==0.9.2
#-e git+/root/projects/github/flask-ide-ro/../flask-ide@3b602f3f547d13b789ea37a7236bd550832513e1#egg=Flask_Ide-heroku/master
Flask-PageDown==0.1.5
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Flask-WTF==0.10.2
Jinja2==2.7.3
LoginUtils==1.0.1
Mako==1.0.0
Markdown==2.5.2
MarkupSafe==0.23
MySQL-python==1.2.5
Pygments==2.0.1
SQLAlchemy==0.9.8
SQLAlchemy-Utils==0.27.5
WTForms==2.0.1
WebHelpers==1.3
Werkzeug==0.15.3
alembic==0.6.7
argparse==1.2.1
blinker==1.3
ecdsa==0.11
flask-codemirror==0.0.3
flask-macros==0.1.5
flask-xxl==0.8.5
gevent==1.0.1
greenlet==0.4.5
gunicorn==19.2.0
inflection==0.2.1
ipython==2.4.0
itsdangerous==0.24
jinja2-highlight==0.6.1
markdown-checklist==0.4.1
mr.bob2==0.2.3
paramiko==1.15.2
pycrypto==2.6.1
recaptcha==1.0rc1
requests==2.5.1
six==1.8.0
slugify==0.0.1
wsgiref==0.1.2
psycopg2
pathlib
